# 1P related info

vault_item='vault/item'
FIRELY_USERNAME=op://${vault_item}/email
FIRELY_PASSWORD=op://${vault_item}/password

NTS_USER=op://${vault_item}/email
NTS_PASS=op://${vault_item}/password
